/* Universal settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Added fonts */
@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Book.otf);
}
/* Body background colour */
body {
    background-color: rgb(0, 101, 124);
}
/* Header logo */
.headerPromo {
    display: flex;
    justify-content: center;
}
.headerPromo > img {
    width: 11rem;
    height: 6rem;
    /* toFix: filter glow not working on logo */
    /* filter: drop-shadow(0 0 70px rgb(255, 244, 174)); */
}
/* Promotion grid */
.promoGrid {
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(12 , 1fr);
}
/* Promotion text box */
.promoBox {
    display: flex;
    flex-direction: column;
}
.promoTxt {
    font-family: CircularStd;
    font-size: 11rem;
}
.homeBtn {
    background-color: white;
}