/* Universal settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Added fonts */
@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat-Regular.ttf);
}
/* Body background colour */
body {
    background-color: rgb(0, 101, 124);
}
/* Header logo */
.headerPromo {
    display: flex;
    justify-content: center;
}
.headerLogo {
    width: 11rem;
    height: 6rem;
    filter: drop-shadow(0 0 10px rgb(255, 244, 174));
}
/* Promotion flexbox */
.promoBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
/* Promotion box content */
.promoTxt {
    font-family: CircularStd;
    font-size: 10vw;
    font-weight: 450;
    white-space: nowrap;
    color: #FFF7E3;
    text-align: center;
}
.promoSubHdr {
    font-family: Caveat;
    font-size: 5rem;
    font-weight: 400;
    color: #FFF7E3;
    text-align: center;
    text-shadow: 0 0 30px rgb(255, 244, 174);
}
.promoDesc {
    width: 20rem;
    align-self: center;
    font-family: CircularStd;
    font-size: 1rem;
    font-weight: 450;
    color: white;
    text-align: center;
}
.homeBtn {
    width: 8rem;
    height: 4rem;
    align-self: center;
    padding-top: 1.2rem;
    text-align: center;
    background-color: white;
    font-family: CircularStd;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 101, 124);
    text-decoration: none;
    border-radius: 6rem;
}
/* background grid for illustrations */
.bgGrid {
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(10 , 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
}
/* Background illustrations */
.bgIcon1 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 7;
    grid-row-start: 9;
}.bgIcon2 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 8;
    grid-row-start: 8;
}.bgIcon3 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 8;
    grid-row-start: 10;
}.bgIcon4 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 9;
    grid-row-start: 9;
}.bgIcon5 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 10;
    grid-row-start: 8;
}.bgIcon6 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 11;
    grid-row-start: 7;
}.bgIcon7 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 12;
    grid-row-start: 6;
}.bgIcon8 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 10;
    grid-row-start: 10;
}.bgIcon9 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 11;
    grid-row-start: 9;
}.bgIcon10 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 12;
    grid-row-start: 8;
}.bgIcon11 {
    width: 7rem;
    height: 5rem;
    transform: rotate(-42deg);
    opacity: 0.2;
    grid-column-start: 12;
    grid-row-start: 10;
}
@media screen and (max-width: 700px) {
    * {
        overflow: hidden;
    }
    .promoBox {
        margin-top: 10%;
    }
}