/* Removes the basic margin and padding that is automatically assigned to every site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std";
}

/*header section*/
.pexels-chevanon-photography-33-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 96.55rem;
    height: 62.25rem;
    object-fit: cover;
}

.component-2,
.header-child {
    position: absolute;
    top: 0;
    left: calc(50% - 756px);
    width: 94.5rem;
    height: 62.25rem;
}

.component-2 {
    background-color: white;
    overflow: hidden;
}

.header-child {
    background-color: rgba(0, 0, 0, 0.4);
}

.welcome1 {
    position: absolute;
    line-height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
}

.welcome {
    top: 0.05rem;
    left: 0;
    width: 50.2rem;
    filter: blur(20px);
}

.welcome1 {
    top: 0;
    left: 0.5rem;
    width: 49.2rem;
}

.bienvenue,
.welcome-parent {
    position: absolute;
    top: 20rem;
    left: 14.65rem;
    width: 50.2rem;
    height: 11.15rem;
}

.bienvenue {
    top: 31.3rem;
    left: 55.45rem;
    font-size: 4rem;
    line-height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.2rem;
    height: 3.75rem;
}

.header-content,
.header-content-child {
    position: absolute;
    top: -1.30rem;
    left: -1.30rem;
    width: 88.3rem;
    height: 57.9rem;
}

.header-content {
    top: 3.45rem;
    left: 4.45rem;
    width: 85.65rem;
    height: 55.25rem;
}

.logo-02-4-icon,
.logo-02-6-icon {
    position: absolute;
    height: 155.55%;
    width: 146%;
    top: -27.8%;
    right: -22.95%;
    bottom: -27.8%;
    left: -22.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.logo-02-6-icon {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo-02-4-parent {
    position: absolute;
    height: 85.75%;
    width: 6.75%;
    top: 7%;
    right: 92.25%;
    bottom: 7%;
    left: 1%;
}

.about-us,
.le-menu {
    position: relative;
}

.about-us {
    line-height: 2rem;
}

.le-menu-parent {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% + 141.5px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
}

.no-bg-component {
    position: absolute;
    top: 3.5rem;
    left: calc(50% - 671px);
    width: 81rem;
    height: 5.25rem;
    font-size: var(--font-size-31xl);
}

.header {
    position: relative;
    width: 100%;
    height: 62.25rem;
    text-align: center;
    font-size: var(--font-size-281xl);
    color: var(--color-wheat);
    font-family: var(--font-caveat);
}
/* header section end */

/* The entirity of the about us section */
.aboutus-section {
  background-color: rgba(0, 101, 124, 1);
  box-shadow: 0px 0px 60px 12px rgba(0, 0, 0, 0.52) inset;
}

/* Only the content in about us section */
.aboutus-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  padding-bottom: 5rem;
  gap: 0.3rem;
}

/* only the title which is in the about us content */
#aboutus-title {
  color: rgba(237, 229, 187, 1);
  text-align: center;
  font-family: Caveat;
  font-weight: 400;
  font-size: 4.68rem;
  text-shadow: 0 0 6px white;
}
/* Only the text in about us content */
#aboutus-text {
  color: rgba(237, 229, 187, 1);
  height: 50px;
  width: 780px;
}

/* WOTM SECTION STYLING */
.wotmWrapper {
    padding: 10% 7%;
}

.wotmH1 {
    font-family: 'Caveat';
    font-weight: 400;
    color: #00657C;
    text-align: center;
    letter-spacing: 0.1rem;
    margin: 0 0 4.6rem;
    font-size: 4.4rem;
}

.blueButton {
    width: 14.3rem;
    height: 4.6rem;
    background-color: #00657C;
    color: #FEFBF4;
    margin: auto;
    border-radius: 6.3rem;
}

.blueButton > p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 7%;
}

/* WOTM food items */
.wotmSection {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 2%;
    padding-bottom: 2.5rem;
    justify-content: space-evenly;
    margin: auto;
}

.wotmFood {
    width: 12rem;
    height: 17rem;
    text-align: center;
    font-size: 1.9rem;
    font-weight: normal;
    color: #00657C;
}

.wotmFood > img {
    max-width: 12rem;
}

.wotmFood > p {
    width: 100%;
    margin-bottom: 2.5rem;
}

/* WOTM background */
.wotm {
    background-color: #FEFBF4;
    width: 100%;
    box-shadow: inset  0  60px 60px -60px #696868, inset  0 -60px 60px -60px #696868;
}

.wotmBackground {
    transform: rotate(-42.512deg);
    z-index: 0;
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.wotmBackground > img {
    opacity: 0.13;
    width: 7.8rem;
    height: 5.8rem;
}

/*Menu styling*/
.menuTrendingTitile {
  text-align: center;
  font-family: "Caveat";
  font-size: 4.375rem;
}
.menuTrendingOrders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
  justify-content: center;
  width: 65vw;
}
.menuView {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  width: 1.5rem;
}
.menuTrendingItems {
  background-color: aqua;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
}
.menuTrendingImgs {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 5%;
  right: -20%;
}
/*Le Menu*/

/*Categories*/
.menuCategories {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.menuCategoriesNames {
  text-decoration: none;
  width: 8rem;
  padding: 1.5rem;
  background-color: aqua;
  border-radius: 1.5rem;
  text-align: center;
  color: black;
}

/*Menu Styling*/
.menuContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.menuItems {
  background-color: aqua;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menuItems:nth-child(8) {
  margin-bottom: 6rem;
}
.menuSubitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}
.menuBtn {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}
.menuSpanColumn2 {
  grid-column: span 2;
}
.menuSpanColumnFull {
  grid-column: span 3;
}
.menuSpanRow2 {
  grid-row: span 2;
}
