/* Added fonts */
@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-Regular.ttf);
}

/* Removes the basic margin and padding that is automatically assigned to every site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std";
}

/*header section*/
.HeaderWidth0 {
  width: 100%;
}

.HeaderTop0 {
  top: 0;
}

.HeaderBottom0 {
  bottom: 0;
}

.HeaderRight0 {
  right: 0;
}

.HeaderLeft0 {
  left: 0;
}

.HeaderMain {
  position: relative;
  overflow: hidden;
  height: 60rem;
  text-align: center;
  font-size: 18.75rem;
  color: wheat;
}

.HeaderMain * {
  font-family: "Caveat";
}

.HeaderBackground {
  position: absolute;
  height: 60rem;
  object-fit: cover;
}

.HeaderChild {
  position: absolute;
  top: 0;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.HeaderContent {
  height: 91%;
}

.HeaderWelcome {
  position: absolute;
  top: 15rem;
  font-size: 18.75rem;
  font-weight: 400;
  text-shadow: 0 0 30px #eeeba7a7;
}

.HeaderBienvenue {
  font-size: 4rem;
  line-height: 11rem;
  font-family: "Caveat";
  font-weight: 100;
  position: absolute;
  top: 34rem;
  right: 23rem;
  width: 14.2rem;
  height: 3.75rem;
}

.HeaderCoffeCL {
  font-size: 4rem;
  line-height: 11rem;
  font-family: "Caveat";
  font-weight: 100;
  position: absolute;
  right: 23rem;
  top: 30rem;
}

.HeaderNoBgComponent {
  position: absolute;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
}

.HeaderCorners {
  position: relative;
  height: 100%;
  object-fit: cover;
}

.HeaderCorners * {
  position: absolute;
  filter: drop-shadow(0 0 10px yellow);
}

.HeadeDecorCornerRB {
  rotate: 45deg;
}

.HeadeDecorCornerLB {
  rotate: 135deg;
}

.HeadeDecorCornerRT {
  rotate: -45deg;
}

.HeadeDecorCornerLT {
  rotate: -135deg;
}

.HeaderLeMenuParent,
.HeaderDropdown {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2.5rem;
}

.HeaderLeMenuParent {
  position: sticky;
  top: 7%;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 5.25rem;
  justify-content: space-between;
  font-size: 3.13rem;
  padding: 0 7%;
}

img.HeaderLogo {
  width: 10%;
}

/* header section end */

/* The entirity of the about us section */
.aboutusSection {
  background-color: rgba(0, 101, 124, 1);
  box-shadow: 0px 0px 60px 12px rgba(0, 0, 0, 0.52) inset;
}

/* Only the content in about us section */
.aboutusContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  padding-bottom: 5rem;
  gap: 0.3rem;
}

/* only the title which is in the about us content */
#aboutusTitle {
  color: rgba(237, 229, 187, 1);
  text-align: center;
  font-family: Caveat;
  font-weight: 400;
  font-size: 4.68rem;
  text-shadow: 0 0 6px white;
}

/* Only the text in about us content */
#aboutusText {
  color: rgba(237, 229, 187, 1);
  height: 50px;
  width: 780px;
}

.mapSection {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  background: linear-gradient(
      180deg,
      rgba(186, 211, 238, 0.2) 0%,
      rgba(0, 101, 124, 0.94) 100%
    ),
    url(../imgs/photos/aboutus/pictureofmap.png),
    lightgray -57.549px -6.047px / 106.682% 118.935% no-repeat;
  box-shadow: 0px -14px 60px 0px rgba(0, 0, 0, 0.52);
}

.map {
  padding: 6.5rem 4rem 0 8rem;
}

.timesContact {
  display: flex;
  /* font-size: 1.15rem; */
  flex-direction: column;
  padding-top: 7.5rem;
  gap: 2rem;
  color: var(--Yellow, #ede5bb);
}

.bodyText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.daysAndTimes {
  display: flex;
  flex-direction: row;
}

.availableTimes {
  padding-left: 5rem;
}

.contactUs h3 {
  padding-bottom: 1rem;
}

.copyrightText {
  display: flex;
  color: var(--Yellow, #ede5bb);
  background: #012e38;
  align-items: center;
  justify-content: center;
  height: 5.125rem;
  width: auto;
}

.footerSection {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  height: 7.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  color: var(--Yellow, #ede5bb);
}

.quickLinks {
  display: flex;
  flex-direction: column;
}

.footerParagraph {
  width: 15rem;
}

.footerContact {
  padding-top: 5rem;
}

/* WOTM SECTION STYLING */
.wotmWrapper {
  position: relative;
  overflow: hidden;
  padding: 15vh 7vw;
  text-align: center;
}

.wotmH1 {
  font-family: "Caveat";
  font-weight: 400;
  color: #00657c;
  letter-spacing: 0.1rem;
  margin: 0 0 4.6rem;
  font-size: 4.4rem;
}

.wotmButton {
  background-color: #00657c;
  color: #fefbf4;
  margin: auto;
  border-radius: 6.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  padding: 2.5vh 7vh;
}

/* WOTM food items */
.wotmSection {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5vw;
  padding-bottom: 2.5rem;
  justify-content: space-evenly;
  margin: auto;
}

.wotmFood {
  width: 12rem;
  height: 17rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: normal;
  color: #00657c;
}

.wotmFood > img {
  max-width: 8rem;
  filter: drop-shadow(0.625rem 1.875rem 1.875rem #69686873);
}

img.wotmCoffee {
  max-width: 10rem;
  rotate: 90deg;
  filter: drop-shadow(1.875rem 0.625rem 1.875rem #69686873);
}

.wotmFood > p {
  margin-bottom: 2.5rem;
}

/* WOTM background */
.wotm {
  background-color: #fefbf4;
  box-shadow: inset 0 3.75rem 3.75rem -3.75rem #696868,
    inset 0 -3.75rem 3.75rem -3.75rem #9e9e9e61;
}

.wotmBackground {
  transform: rotate(-42.512deg);
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 30vh;
  left: 35vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.wotmBackground > img {
  opacity: 0.13;
  max-width: 10rem;
}

/*Menu Section styling*/

/*Trending orders Styling*/
.menuTrendingTitile {
  text-align: center;
  font-family: "Caveat";
  font-size: 4.375rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.menuTrendingTitile:first-child {
  margin-top: 6rem;
}
.menuTrendingOrders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
  justify-content: center;
  width: 60vw;
  margin-bottom: 5rem;
}
.menuView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #f8f3de 0%, #e2ebf6 49.48%, #bad3ee 100%);
  box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.52);
}
hr {
  width: 1.5rem;
}
.menuTrendingItems {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
  backdrop-filter: blur(1.5rem);
}
.menuTrendingImgs {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 5%;
  right: -18%;
}

/*Le Menu*/

/*Categories*/
.menuCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 2rem 4rem 2rem;
}
.menuCategoriesNames {
  text-decoration: none;
  width: 8rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #07143b;
  box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.06);
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
}
.menuCategoriesNames:hover,
.menuCategoriesNames:focus {
  background-color: rgba(186, 211, 238, 0.56);
}

/*Menu Styling*/
.menuContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 0 2.5rem;
}
.menuItems {
  background-color: white;
  border-radius: 1.5rem;
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menuItems:nth-child(8) {
  margin-bottom: 6rem;
}
.menuSubitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}
.menuTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Caveat";
  margin-bottom: 1.5rem;
}

.menuProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: #07143b;
  border-bottom: 0.01rem dotted black;
}
.menuBtn {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
.menuSpanColumn2 {
  grid-column: span 2;
}
.menuSpanColumnFull {
  grid-column: span 3;
}
.menuSpanRow2 {
  grid-row: span 2;
}

.menuBackgroundImg {
  background: linear-gradient(to top, #f5eed2e3, #f5eed2de),
    url("../imgs/photos/menu/croissants.jpg") no-repeat top center;
  background-size: cover;
}

.menuBackgroundClr {
  background-color: rgba(186, 211, 238, 0.56);
}

.menuColorBlue {
  color: #00657c;
}

.menuTrendingPrice {
  font-weight: 500;
}

.menuTrendingSubTitle {
  font-weight: 450;
  font-size: 0.75rem;
}

.menuSubTitle {
  color: #00657c99;
  font-size: 0.85rem;
  letter-spacing: 0.025rem;
}

.menuSubProducts {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  color: #00000091;
  margin-left: 1.25rem;
}

@media (max-width: 1200px) {
  /*Menu Section Styling Responsivness*/
  .menuTrendingOrders {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
  }
  .menuSubTitle {
    font-size: 0.65rem;
  }
}

@media (max-width: 800px) {
  body,
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  /*WOTM STYLING: Fixing sizes*/
  .wotmH1 {
    font-size: 4rem;
  }

  .wotmButton {
    font-size: 1.3rem;
    padding: 2vh 6vh;
  }

  .wotmFood {
    font-size: 1.7rem;
  }

  .wotmWrapper {
    padding: 9vh 7vw 12vh;
  }

  /*WOTM STYLING: Fixing the background*/
  .wotm {
    box-shadow: inset 0 2.75rem 2.75rem -2.75rem #69686890,
      inset 0 -2.75rem 2.75rem -2.75rem #9e9e9e32;
  }

  .wotmBackground {
    width: 150vw;
    height: 80vh;
  }

  /*Menu Section Styling Responsivness*/
  .menuTrendingOrders {
    grid-template-columns: 1fr;
  }
  .menuTrendingImgs {
    right: -10%;
  }
  .menuSpanRow2 {
    grid-row: 5;
  }
  .menuItems,
  .menuSubitems {
    grid-column: 1 / span 3;
  }
  .menuSubitems {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 430px) {
  /*PROPOSING A CHANGE TO MAXWIDTH (400px => 430px)*/

  /*WOTM STYLING: Fixing sizes*/
  .wotmH1 {
    font-size: 1.875rem;
    margin: 0 0 2rem;
  }

  .wotmButton {
    font-size: 1rem;
    padding: 2vh 3vh;
  }

  .wotmFood {
    font-size: 0.875rem;
    width: 7rem;
    height: 12rem;
  }

  .wotmFood > img {
    max-width: 6.7rem;
  }

  .wotmWrapper {
    padding: 7vh 12vw 9vh;
  }

  .wotmFood > p {
    margin-bottom: 1rem;
  }

  /*WOTM STYLING: Fixing the background*/

  .wotmBackground {
    width: 200vw;
    height: 50vh;
    top: 10vh;
  }

  /*Menu Section Styling Responsivness*/

  .menuTrendingTitile {
    font-size: 3rem;
  }
  .menuTrendingOrders {
    width: 70vw;
  }
  .menuProducts {
    font-size: 0.75rem;
  }
  .menuItems {
    padding: 2.5rem;
  }
  .menuTitle {
    font-size: 1.5rem;
  }
  .menuSubTitle {
    font-size: 0.625rem;
  }
  .menuBtn {
    font-size: 0.75rem;
  }
}
