/* Added fonts */
@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-Regular.ttf);
}
/* Removes the basic margin and padding that is automatically assigned to every site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std";
}

/* header section start*/

.header1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60rem;
  text-align: center;
  font-size: 18.75rem;
  color: wheat;
}

.header1 * {
  font-family: "Caveat";
}

.pexels-chevanon-photography-33-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rem;
  object-fit: cover;
}

.header-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-content {
  width: 100%;
  height: 91%;
}

.welcome {
  position: absolute;
  top: 15rem;
  width: 100%;
  font-size: 18.75rem;
  font-weight: 400;
  text-shadow: 0 0 30px #eeeba7a7;
}

.bienvenue {
  font-size: 4rem;
  line-height: 11rem;
  font-family: "Caveat";
  font-weight: 100;
  position: absolute;
  top: 30rem;
  right: 23rem;
  width: 14.2rem;
  height: 3.75rem;
}

.no-bg-component {
  position: absolute;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
}

.logo-02-4-parent {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-02-4-parent > * {
  position: absolute;
  filter: drop-shadow(0 0 10px yellow);
}

.logo-02-2-icon {
  bottom: 0;
  right: 0;
  rotate: 45deg;
}

.logo-02-4-icon {
  bottom: 0;
  left: 0;
  rotate: 135deg;
}

.logo-02-6-icon {
  top: 0;
  right: 0;
  rotate: -45deg;
}

.logo-02-8-icon {
  top: 0;
  left: 0;
  rotate: -135deg;
}

.le-menu-parent,
.headerDropdown {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2.5rem;
}

.le-menu-parent {
  position: sticky;
  top: 7%;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 5.25rem;
  justify-content: space-between;
  font-size: 3.13rem;
  padding: 0 7%;
}

img.headerLogo {
  width: 10%;
}

/* header section end */

/* The entirity of the about us section */
.aboutusSection {
  background-color: rgba(0, 101, 124, 1);
  box-shadow: 0px 0px 60px 12px rgba(0, 0, 0, 0.52) inset;
}

/* Only the content in about us section */
.aboutusContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  padding-bottom: 5rem;
  gap: 0.3rem;
}

/* only the title which is in the about us content */
#aboutusTitle {
  color: rgba(237, 229, 187, 1);
  text-align: center;
  font-family: Caveat;
  font-weight: 400;
  font-size: 4.68rem;
  text-shadow: 0 0 6px white;
}

/* Only the text in about us content */
#aboutusText {
  color: rgba(237, 229, 187, 1);
  height: 50px;
  width: 780px;
}

.mapSection {
  display: flex;
  background: linear-gradient(
    180deg,
    #167ceb 0%,
    #bad3ee 0.01%,
    #9ac0da 13.02%,
    #00657c 76.04%,
    #003744 100%
  );
  box-shadow: 0px -14px 60px 0px rgba(0, 0, 0, 0.52);
}

.copyrightText {
  display: flex;
  background: #012e38;
  align-items: center;
  justify-content: center;
  height: 5.125rem;
  width: auto;
}

/* WOTM SECTION STYLING */
.wotmWrapper {
  position: relative;
  overflow: hidden;
  padding: 10% 7%;
}

.wotmH1 {
  font-family: "Caveat";
  font-weight: 400;
  color: #00657c;
  text-align: center;
  letter-spacing: 0.1rem;
  margin: 0 0 4.6rem;
  font-size: 4.4rem;
}

.blueButton {
  width: 14.3rem;
  height: 4.6rem;
  background-color: #00657c;
  color: #fefbf4;
  margin: auto;
  border-radius: 6.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1.5%;
}

/* WOTM food items */
.wotmSection {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 2%;
  padding-bottom: 2.5rem;
  justify-content: space-evenly;
  margin: auto;
}

.wotmFood {
  width: 12rem;
  height: 17rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: normal;
  color: #00657c;
}

.wotmFood > img {
  max-width: 10rem;
  filter: drop-shadow(0.625rem 1.875rem 1.875rem #69686873);
}

img.wotmCoffee {
  max-width: 12rem;
  rotate: 90deg;
  filter: drop-shadow(1.875rem 0.625rem 1.875rem #69686873);
}

.wotmFood > p {
  width: 100%;
  margin-bottom: 2.5rem;
}

/* WOTM background */
.wotm {
  background-color: #fefbf4;
  width: 100%;
  box-shadow: inset 0 3.75rem 3.75rem -3.75rem #696868,
    inset 0 -3.75rem 3.75rem -3.75rem #696868;
}

.wotmBackground {
  transform: rotate(-42.512deg);
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 35%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.wotmBackground > img {
  opacity: 0.13;
  max-width: 12rem;
}

/*Menu Section styling*/

/*Trending orders Styling*/
.menuTrendingTitile {
  text-align: center;
  font-family: "Caveat";
  font-size: 4.375rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.menuTrendingOrders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
  justify-content: center;
  width: 60vw;
  margin-bottom: 7rem;
}
.menuView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #f8f3de 0%, #e2ebf6 49.48%, #bad3ee 100%);
  box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.52);
}
hr {
  width: 1.5rem;
}
.menuTrendingItems {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
  backdrop-filter: blur(1.5rem);
}
.menuTrendingImgs {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 5%;
  right: -20%;
}

/*Le Menu*/

/*Categories*/
.menuCategories {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.menuCategoriesNames {
  text-decoration: none;
  width: 8rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #07143b;
  box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.06);
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
}
.menuCategoriesNames:hover,
.menuCategoriesNames:focus {
  background-color: rgba(186, 211, 238, 0.56);
}

/*Menu Styling*/
.menuContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.menuItems {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menuItems:nth-child(8) {
  margin-bottom: 6rem;
}
.menuSubitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}
.menuTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Caveat";
  margin-bottom: 1.5rem;
  padding-top: 2rem;
}

.menuProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: #07143b;
  border-bottom: 0.01rem dotted black;
}
.menuBtn {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
.menuSpanColumn2 {
  grid-column: span 2;
}
.menuSpanColumnFull {
  grid-column: span 3;
}
.menuSpanRow2 {
  grid-row: span 2;
}

.menuBackgroundImg {
  background: linear-gradient(to top, #f5eed2e3, #f5eed2de),
    url("../imgs/photos/menu/croissants.jpg") no-repeat top center;
  background-size: cover;
}

.menuBackgroundClr {
  background-color: rgba(186, 211, 238, 0.56);
}

.menuColorBlue {
  color: #00657c;
}

.menuTrendingPrice {
  font-weight: 500;
}

.menuTrendingSubTitle {
  font-weight: 450;
  font-size: 0.75rem;
}

.menuSubTitle {
  color: #00657c99;
  font-size: 0.85rem;
  letter-spacing: 0.025rem;
}

.menuSubProducts {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  color: #00000091;
  margin-left: 1.25rem;
}

@media (max-width: 1200px) {
}
@media (max-width: 800px) {
}
@media (max-width: 400px) {
}
