/* Added fonts */
@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat-Regular.ttf);
}
/* Universal settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CircularStd;
    overflow-x: hidden;
}
/* Background colour */
body {
    background-image: linear-gradient(#EEEAD6, #BAD3EE);
}
/* Header container for logo */
.teaserHdrContainer {
    display: flex;
    justify-content: center;
}
.teaserHdrLogo {
    width: 11rem;
    height: 6rem;
}
/* Teaser center image */
.teaserCntrImg {
    position: absolute;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6rem;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
/* Teaser center felxbox */
.teaserMainContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31rem;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
/* Teaser flexbox content */
.teaserMainText {
    font-weight: 450;
    font-size: 2.25rem;
    text-align: center;
    color: #00657C;
}
.teaserMainMessage {
    font-family: Caveat;
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
    color: #00657C;
}
.homeBtn {
    font-weight: 450;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: #FEFBF4;
    background-color: #00657C;
    border-radius: 6.25rem;
    padding: 1.1rem 2rem;
}
/* Background illustrations grid */
.bgGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-content: space-evenly;
    align-content: space-evenly;
}
/* Background illustrations */
.bgIllu {
    width: 7rem;
    height: 5rem;
}
.bgIllu_1 {
    transform: rotate(166deg);
    grid-column-start: 12;
    grid-row-start: 1;
}
.bgIllu_2 {
    transform: rotate(32deg);
    grid-column-start: 2;
    grid-row-start: 2;
}
.bgIllu_3 {
    transform: rotate(-32deg);
    grid-column-start: 4;
    grid-row-start: 1;
}
.bgIllu_4 {
    transform: rotate(-111deg);
    grid-column-start: 10;
    grid-row-start: 2;
}
.bgIllu_5 {
    transform: rotate(166deg);
    grid-column-start: 3;
    grid-row-start: 4;
}
.bgIllu_6 {
    transform: rotate(101deg);
    grid-column-start: 1;
    grid-row-start: 5;
}
.bgIllu_7 {
    transform: rotate(179deg);
    grid-column-start: 11;
    grid-row-start: 4;
}
.bgIllu_8 {
    transform: rotate(-32deg);
    grid-column-start: 3;
    grid-row-start: 6;
}
.bgIllu_9 {
    transform: rotate(-46deg);
    grid-column-start: 10;
    grid-row-start: 6;
}
.bgIllu_10 {
    transform: rotate(166deg);
    grid-column-start: 11;
    grid-row-start: 8;
}
.bgIllu_11 {
    transform: rotate(46deg);
    grid-column-start: 2;
    grid-row-start: 8;
}
/* Aesthetics test */
.bgIllu_12 {
    transform: rotate(-111deg);
    grid-column-start: 4;
    grid-row-start: 8;
}
.bgIllu_13 {
    transform: rotate(-111deg);
    grid-column-start: 12;
    grid-row-start: 6;
}
/* Footer flexbox */
.teaserFtrContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00657C;
    column-gap: 4rem;
    height: 8rem; /* change to padding */
    width: 100vw;
}
/* Footer flexbox content */
.teaserFtrText {
    font-family: Caveat;
    font-weight: 400;
    font-size: 2.5rem;
    color: #FEFBF4;
    text-align: center;
}
.moreInfoBtn {
    font-weight: 450;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: #00657C;
    background-color: #FEFBF4;
    border-radius: 6.25rem;
    padding: 1.1rem 2rem;
}
/* Reponsiveness tweaks */
@media screen and (max-width: 1200px) {
    .teaserCntrImg {
        width: 60vw;
    }
    .bgIllu {
        opacity: 0.3;
    }
}
@media screen and (max-width: 800px) {
    .teaserCntrImg {
        width: 90vw;
    }
    .teaserFtrContainer {
        padding: 2rem; 
    }
    .moreInfoBtn {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 400px) {
    .teaserCntrImg {
        width: 100vw;
        margin-top: 0;
    }
    .teaserMainContainer {
        margin-top: 20rem;
    }
    .teaserMainText {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .teaserMainMessage {
        font-size: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .homeBtn {
        margin-top: 1rem;
    }
    .teaserFtrText {
        font-size: 1.5rem;
    }
    .moreInfoBtn {
        font-size: 1rem;
    }
}